$white0: white;
$white1: #e8ecee;

$grey0: #f0f0f0;
$grey1: #d6d5d4;

$lightBlue0: #ddeaf3;

$blue0: #36a8f1;

$darkBlue0: #242f3e;
$darkBlue1: #253241;
$darkBlue2: #344658;
$darkBlue3: #40566b;

$black0: black;
$black1: #222222;
