.controls {
  padding: 10px 0;
  display: flex;
}

.switches {
  display: flex;
}

.switch {
  padding: 5px 10px 5px 5px;
  height: 30px;
  min-width: 30px;
  border: 1px solid $grey1;
  border-radius: 15px;
  box-sizing: border-box;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;

  input {
    cursor: pointer;
  }

  .switch-text {
    margin-left: 3px;
  }
}

.select {
  display: flex;
  align-items: center;

  .select-text {
    margin-left: 3px;
  }
}
