doctype html
html(lang='')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    title Followers chat
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="css/bundle.css")
  body
    #root
      each idx in [0, 1, 2, 3, 4]
        .chart-container(id='chart-' + idx)
          h1
          .big-canvas-container
            canvas.big-canvas
            .tooltip-container
          .nav-canvas-container
            canvas.nav-canvas
            .navigation-handler
          .controls
            .controls-data
              .column-switches

      .theme
        button#theme-button Switch to Night Mode
    script(src="js/bundle.js")
